.app-table {
    th, td {
        font-size: 14px;

        &:nth-of-type(1) {
            padding-left: 30px;
        }
        &:nth-last-of-type(1) {
            padding-right: 30px;
        }
    }

    thead th {
        border-bottom-width: 1px;
        border-top: 0;
        font-weight: 400;
        color: #B2B3B7;
    }

    &--valign {
        th, td {
            vertical-align: middle;
        }
    }

    &--status {
        td:nth-of-type(1) {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translateY(-50%);
                width: 3px;
                height: 40%;
                border-radius: 0 2px 2px 0;
                display: block;
                background-color: darken($app-hover-bg,10);
                opacity: .9;
            }
        }
        @each $color, $value in $theme-colors {
            .tr-#{$color} {
                td:nth-of-type(1) {
                    &:before {
                        background-color: $value;
                    }
                }
            }
        }
    }
}

//Overwriting Default Bootstrap Table Styles
.table {
    // Targetting small tables only
    &-sm {
        td {
            padding: 0.6rem 0.3rem;
        }
    }
    // Targetting hoverable tables only
    &-hover {
        tbody tr:hover {
            background-color: #f8f9fa;
        }
    }
}