$app-primary: #1875f0;
$app-primary-dark: #00459f;
$app-yellow: #ffe800;
$app-hover-bg: #f8f9fa;

$app-container-bg : #f0f1f3; //#15202e

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,500,600,700');

$app-font-family: 'IBM Plex Sans', sans-serif;


// Overwriting BS variables
