.app {
    &-event-mapping {
        & > .card {
            &-header {
                padding: 0.45rem 1.25rem;
            }
            &-body {
                height: calc(100vh - 290px);
                overflow-y: auto;
                overflow-x: hidden;
            }
        }
    }
}