$_online-bg: #2eb35a;
$_offline-bg: #d90d0d;

.xync-status {
  border-collapse: separate;
  margin-top: 5px;
  margin-left: 5px;

  td {
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
  }

  &.online {
    td {
      background-color: $_online-bg;
    }
  }

  &.offline {
    td {
      background-color: $_offline-bg;
    }
  }
}
